@font-face {
  font-family: "iconfont"; /* Project id 1369856 */
  src: url("iconfont.woff2?t=1676627386213") format("woff2"),
    url("iconfont.woff?t=1676627386213") format("woff"),
    url("iconfont.ttf?t=1676627386213") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wisburg-ic-close:before {
  content: "\e657";
}

.wisburg-ic-arrow_down:before {
  content: "\e656";
}

.wisburg-ic-arrow-down-dark:before {
  content: "\e655";
}

.wisburg-ic-member-fee:before {
  content: "\e654";
}

.wisburg-ic-circle:before {
  content: "\e653";
}

.wisburg-ic-home-list:before {
  content: "\e652";
}

.wisburg-ic-arrow-solid:before {
  content: "\e651";
}

.wisburg-ic-link-slim:before {
  content: "\e650";
}

.wisburg-ic-home-more:before {
  content: "\e64f";
}

.wisburg-ic-minus:before {
  content: "\e64d";
}

.wisburg-ic-addition:before {
  content: "\e64e";
}

.wisburg-ic-homecommunity:before {
  content: "\e649";
}

.wisburg-ic-homevoice:before {
  content: "\e64a";
}

.wisburg-ic-homepdf:before {
  content: "\e64b";
}

.wisburg-ic-homelink:before {
  content: "\e64c";
}

.wisburg-ic-home-video:before {
  content: "\e646";
}

.wisburg-ic-hover-email:before {
  content: "\e63e";
}

.wisburg-ic-inform:before {
  content: "\e640";
}

.wisburg-ic-hover-weixin:before {
  content: "\e641";
}

.wisburg-ic-hover-weibo:before {
  content: "\e643";
}

.wisburg-ic-hover-link:before {
  content: "\e645";
}

.wisburg-ic-vip:before {
  content: "\e63c";
}

.wisburg-ic-home-article:before {
  content: "\e648";
}

.wisburg-ic-search:before {
  content: "\e647";
}

.wisburg-ic-share-email:before {
  content: "\e63d";
}

.wisburg-ic-share-link:before {
  content: "\e63f";
}

.wisburg-ic-share-weibo:before {
  content: "\e642";
}

.wisburg-ic-share-weixin:before {
  content: "\e644";
}

.wisburg-ic-plus:before {
  content: "\e63b";
}

.wisburg-ic-deleted:before {
  content: "\e63a";
}

.wisburg-ic-star:before {
  content: "\e639";
}

.wisburg-ic-link:before {
  content: "\e638";
}

.wisburg-ic-mention:before {
  content: "\e637";
}

.wisburg-ic-image:before {
  content: "\e636";
}

.wisburg-ic-blockquote:before {
  content: "\e635";
}

.wisburg-ic-ordered-list:before {
  content: "\e634";
}

.wisburg-ic-bullet-list:before {
  content: "\e633";
}

.wisburg-ic-underline:before {
  content: "\e632";
}

.wisburg-ic-italic:before {
  content: "\e619";
}

.wisburg-ic-h2:before {
  content: "\e618";
}

.wisburg-ic-bold:before {
  content: "\e614";
}

.wisburg-ic-zu2643:before {
  content: "\e612";
}

.wisburg-ic-invitation-expired:before {
  content: "\e613";
}

.wisburg-ic-more-vert:before {
  content: "\e610";
}

.wisburg-ic-data:before {
  content: "\e631";
}

.wisburg-ic-history:before {
  content: "\e60b";
}

.wisburg-ic-recommend:before {
  content: "\e629";
}

.wisburg-ic-organ:before {
  content: "\e62a";
}

.wisburg-ic-bank:before {
  content: "\e62b";
}

.wisburg-ic-library:before {
  content: "\e62c";
}

.wisburg-ic-manage:before {
  content: "\e62d";
}

.wisburg-ic-person:before {
  content: "\e62e";
}

.wisburg-ic-bianzu:before {
  content: "\e630";
}

.wisburg-ic-back-top:before {
  content: "\e60a";
}

.wisburg-ic-help:before {
  content: "\e609";
}

.wisburg-ic-user:before {
  content: "\e608";
}

.wisburg-ic-copy:before {
  content: "\e6d7";
}

.wisburg-ic-weibo:before {
  content: "\e62f";
}

.wisburg-ic-weixin:before {
  content: "\e628";
}

.wisburg-ic-Page-11:before {
  content: "\e626";
}

.wisburg-ic-Page-2:before {
  content: "\e627";
}

.wisburg-ic-Pdf:before {
  content: "\e606";
}

.wisburg-ic-video-play:before {
  content: "\e623";
}

.wisburg-ic-video-comment:before {
  content: "\e624";
}

.wisburg-ic-list:before {
  content: "\e61f";
}

.wisburg-ic-arrow-right:before {
  content: "\e620";
}

.wisburg-ic-download:before {
  content: "\e621";
}

.wisburg-ic-wisburg-ic-collected:before {
  content: "\e622";
}

.wisburg-ic-wisburg-ic-collection:before {
  content: "\e625";
}

.wisburg-ic-refresh:before {
  content: "\e61e";
}

.wisburg-ic-share:before {
  content: "\e61d";
}

.wisburg-ic-banner-video:before {
  content: "\e61a";
}

.wisburg-ic-banner-article:before {
  content: "\e61b";
}

.wisburg-ic-comment:before {
  content: "\e61c";
}

.wisburg-ic-send:before {
  content: "\e681";
}

.wisburg-ic-play:before {
  content: "\e602";
}

.wisburg-ic-collected:before {
  content: "\e617";
}

.wisburg-ic-hot:before {
  content: "\e615";
}

.wisburg-ic-vip-2:before {
  content: "\e616";
}

.wisburg-ic-moments:before {
  content: "\e611";
}

.wisburg-ic-collection:before {
  content: "\e60d";
}

.wisburg-ic-player-play:before {
  content: "\e60e";
}
