:root {
  --flow-table-border-color: rgba(255, 255, 255, 0.29);
}

.flow-box {
  margin-bottom: 10px;
}

th.ant-table-cell {
  border-radius: 0px !important;
}

.ant-table-thead > tr > th.flow-cell-title {
  cursor: pointer;
  text-align: center;
  border: 2px solid var(--flow-table-border-color) !important;
  border-inline-end: none !important;
}

.ant-table-tbody > tr > td.flow-cell-title {
  border: 2px solid var(--flow-table-border-color) !important;
  border-top: none !important;
  border-inline-end: none !important;
  cursor: pointer;
  font-size: 16px;
}

.ant-table-tbody > tr > td.flow-cell-title a {
  color: #fff !important;
  width: 100%;
  display: inline-block;
}

.ant-table-thead > tr > th.flow-cell-category {
  border: 2px solid var(--flow-table-border-color) !important;
  border-inline-end: none !important;
}

.ant-table-tbody > tr > td.flow-cell-category {
  border: 2px solid var(--flow-table-border-color) !important;
  border-top: none !important;
  border-inline-end: none !important;
}

.ant-table-thead > tr > th.flow-cell-datetime {
  border: 2px solid var(--flow-table-border-color) !important;
}

.ant-table-tbody > tr > td.flow-cell-datetime {
  border: 2px solid var(--flow-table-border-color) !important;
  border-top: none !important;
}

.ant-table-filter-trigger {
  width: 100%;
  height: 30px;
  justify-content: center;
  /* color: #fff !important; */
}

.flow-tool-bar {
  background-color: #000;
  display: flex;
  justify-content: end;
  position: fixed;
  padding: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
